/*Always set html and body to zero*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(153, 212, 192);
}

/*Page name and nav bar on sticky banner*/
.banner {
    height: 8%;
    width: 96vw;
    margin: 1vw 1vw;
    padding: 1vw 1vw;
    position: fixed;
    top: 0;
    background: rgb(77, 170, 65);
    text-align: center;
}

h1 {
    display: inline;
    position: absolute;
}

nav {
    display: inline;
    position: relative;
    left: 37vw;
    bottom: .7vw;
    width: auto;
    height: auto;
}

ul {
    display: inline-block;
    padding: 3px;
}

li {
    display: inline-block;
    padding: .5em;
    margin: .5em;
    background-color: rgb(20, 219, 36, .5);
}

li:hover {
    background-color: rgb(20, 219, 36);
}

/*User profile image*/
figure {
    text-align: center;
}
.gnome {
    position: relative;
    top: 200px;
    height: 30vw;
    width: 30vw;
}

/*Footer*/
footer {
    padding: 20px;
    clear: both;
    text-align: center;
    border-top: 2px solid black;
}